[submodule "Uber_eats_like_web_app"]
	path = Uber_eats_like_web_app
	url = https://github.com/TeoMoca/Uber_eats_like_web_app.git
[submodule "UsersAPI"]
	path = UsersAPI
	url = https://github.com/Victorien-Goudeau/UsersAPI.git
[submodule "PaymentAPI"]
	path = PaymentAPI
	url = https://github.com/Victorien-Goudeau/PaymentAPI.git
[submodule "AuthApi"]
	path = AuthApi
	url = https://github.com/TeoMoca/AuthApi.git
[submodule "CommandAPI"]
	path = CommandAPI
	url = https://github.com/Victorien-Goudeau/CommandAPI.git
[submodule "restaurant-service"]
	path = restaurant-service
	url = https://github.com/clementesnault/restaurant-service.git
