[submodule "Uber_eats_like_web_app"]
	path = Uber_eats_like_web_app
	url = https://github.com/TeoMoca/Uber_eats_like_web_app.git
[submodule "UsersAPI"]
	path = UsersAPI
	url = https://github.com/Victorien-Goudeau/UsersAPI.git
[submodule "PaymentAPI"]
	path = PaymentAPI
	url = https://github.com/Victorien-Goudeau/PaymentAPI.git
[submodule "AuthApi"]
	path = AuthApi
	url = https://github.com/TeoMoca/AuthApi.git
[submodule "catalog-service"]
	path = catalog-service
	url = https://github.com/R1leMargoulin/catalog-service.git
[submodule "notification-service"]
	path = notification-service
	url = https://github.com/R1leMargoulin/notification-service.git
[submodule "CommandAPI"]
	path = CommandAPI
	url = https://github.com/Victorien-Goudeau/CommandAPI.git
[submodule "restaurant-service"]
	path = restaurant-service
	url = https://github.com/clementesnault/restaurant-service.git
[submodule "command-service"]
	path = command-service
	url = https://github.com/R1leMargoulin/command-service.git
[submodule "apiLivraison"]
	path = apiLivraison
	url = https://github.com/JNiat/apiLivraison.git
[submodule "AppDev"]
	path = AppDev
	url = https://github.com/Victorien-Goudeau/AppDev.git
[submodule "Nginx"]
	path = Nginx
	url = https://github.com/TeoMoca/Nginx.git
